@font-face {
  font-family: "National2Bold"; /* Specify the desired font-family name */
  src: url("../../Fonts/National 2 Condensed Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "National2regular"; /* Specify the desired font-family name */
  src: url("../../Fonts/National 2 Condensed Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "National2"; /* Specify the desired font-family name */
  src: url("../../Fonts/National 2 Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "National2light"; /* Specify the desired font-family name */
  src: url("../../Fonts/National 2 Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "National2bolditalic"; /* Specify the desired font-family name */
  src: url("../../Fonts/National 2 Condensed Bold Italic.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

.pembungkuspage7 {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/page7.png);
  background-size: 100vw 100vh;
  padding: 0px;
  /* display: flex; */
}

.page7atas {
  width: 100%;
  height: 13%;
  opacity: 0.5;
  /* background-color: aqua; */
}

.isipage7 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.descpage7 {
  width: 58%;
  margin-top: 11%;
  margin-left: -1%;
}

.descpage7 p {
  font-family: National2;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 1px;
  /* font-weight: bolder; */
  color: #096b48;
}

.descpage7 h1 {
  margin-top: 3.5%;
  font-family: National2Bold;
  font-size: 53px;
  line-height: 1;
  letter-spacing: 1.2px;
  font-weight: bolder;
  color: #096b48;
}

.descpage7 h1 span {
  font-family: National2Bolditalic;
  font-size: 53px;
  line-height: 1;
  letter-spacing: 1.2px;
  font-weight: bolder;
  color: #ee4f54;
}
