@font-face {
  font-family: "National2CondensedBold"; /* Specify the desired font-family name */
  src: url("../../Fonts/National 2 XBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.boxxes {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/page3.png);
  background-size: 100vw 100vh;
  padding: 0px;
  display: flex;
}

.panjang {
  /* background: aqua; */
  width: 307px;
}

.judul {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: aqua; */
  font-family: National2CondensedBold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.judul h1 {
  font-size: 90px;
  font-weight: bolder;
  color: antiquewhite;
  text-shadow: 0 1px 0 #000, 0 2px 0 #000, 0 3px 0 #000, 0 4px 0 #000,
    0 5px 0 #000, 0 6px 0 #000, 0 7px 0 #000, 0 8px 0 #000, 0 9px 0 #000,
    0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.gambarr {
  width: 100%;
  height: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: antiquewhite; */
}

.gambarudeng img {
  width: 60%;
  margin-left: -15px;
}

.gambartikar img {
  width: 60%;
  margin-left: 45px;
  margin-top: 25px;
}

.gambararaga img {
  width: 55%;
}

.gambarnoken img {
  width: 50%;
}

.gambartenun img {
  width: 60%;
  margin-top: 20px;
}

.desc {
  width: 100%;
  padding-top: 20px;
  height: 37%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: yellow; */
  font-family: National2CondensedBold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.desc h1 {
  font-size: 45px;
  font-weight: bolder;
  color: antiquewhite;
  text-shadow: 0 1px 0 #000, 0 2px 0 #000, 0 3px 0 #000, 0 4px 0 #000,
    0 5px 0 #000, 0 6px 0 #000, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);

  /* align-items: center; */
  text-align: center;
}
