@font-face {
  font-family: "National2Bold"; /* Specify the desired font-family name */
  src: url("../../Fonts/National 2 Condensed Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "National2regular"; /* Specify the desired font-family name */
  src: url("../../Fonts/National 2 Condensed Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "National2"; /* Specify the desired font-family name */
  src: url("../../Fonts/National 2 Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "National2light"; /* Specify the desired font-family name */
  src: url("../../Fonts/National 2 Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "National2bolditalic"; /* Specify the desired font-family name */
  src: url("../../Fonts/National 2 Condensed Bold Italic.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

.pembungkuss {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/page6.png);
  background-size: 100vw 100vh;
  padding: 0px;
  /* display: flex; */
}

.page6atas {
  /* background: rgb(68, 201, 201); */
  height: 13%;
  width: 100%;
}

.page6tengah {
  height: 74%;
  width: 100%;
  /* background: aqua; */
  display: flex;
}

.tengahkiri {
  height: 100%;
  width: 20.8%;
  /* background: aqua; */
}

.tengahkirifoto {
  height: 65%;
  width: 100%;
  /* background: aqua;
  opacity: 0.5; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}

.tengahkirifoto img {
  margin-left: -5%;
  width: 68%;
}

.tengahkiri h1 {
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: National2CondensedBold;
  font-size: 55px;
  font-weight: 900;
  color: #f4f3d2;
  text-shadow: 0 1px 0 #000, 0 2px 0 #000, 0 3px 0 #000, 0 4px 0 #000,
    0 5px 0 #000, 0 6px 0 #000;
  /* align-items: center; */
  text-align: center;
  margin: 0;
  line-height: 0.8;
  letter-spacing: 1px;
}

.tengahkanan {
  height: 100%;
  width: 79.2%;
  /* background: aqua; */
  display: flex;
  padding-top: 3%;
}

.melansir {
  width: 20%;
  height: 35%;
  /* background: aqua; */
  align-items: center;
  justify-content: center;
  display: flex;
}

.melansir p {
  font-family: National2;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 1px;
  /* font-weight: bolder; */
  color: #d6e2c1;
}

.deskripsiudeng {
  width: 80%;
  height: 100%;
  padding: 4.5% 3% 3% 0;
}

.deskripsiudeng h1 {
  font-family: National2bold;
  font-size: 38px;
  line-height: 1.2;
  letter-spacing: 3px;
  /* font-weight: bolder; */
  color: #f4f3d2;
}

.deskripsiudeng h1 span {
  font-family: National2bolditalic;
  font-size: 38px;
  line-height: 1.2;
  letter-spacing: 3px;
  /* font-weight: bolder; */
  color: #ffae00;
}

.deskripsiudeng p {
  font-family: National2;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 1.2px;
  /* font-weight: bolder; */
  color: #f4f3d2;
  margin-top: 7%;
  margin-left: 17%;
}
