.page16{
    background-image: url(../../assets/page16.png);
    background-position: center;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    color: #f3f3d3;
}

.tenun16{
    width: 13%;
    margin-left: 3.5%;
    margin-top: 7%;
}

.isi16{
    float: right;
    margin-right: 6%;
    margin-top: 6.5%;
    width: 70%;
    height: 61%;
}

@media screen and (max-width: 1600px){
    .kalimatisi161{
        font-size: 57px !important;
        width: 60% !important;
    }
    
    .kalimatisi162{
        font-size: 57px !important;
    }

    .footer16{
        font-size: 16px !important;
    }
}