.page15{
    background-image: url(../../assets/page15.png);
    background-position: center;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    color: #056b48;
    display: flex;
}

.header15{
    padding-top: 3%; 
    padding-left: 15%; 
    width: 30%;
    display: flex;
}

.isi15{
    margin-left: 5%;
}

.footer15{
    color: #f3f3d3;
}

@media screen and (max-width: 1440px){
    .header15{
        font-size: 12px !important;
    }

    .kalimatisi151{
        font-size: 12px !important;
    }
    
    .kalimatisi152{
        font-size: 57px !important;
    }

    .kalimatisi153{
        font-size: 16px !important;
    }

    .footer15{
        font-size: 16px !important;
    }
}