.boxx {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/page1.png);
  background-size: 100vw 100vh;
  padding: 20px;
  display: flex;
}

.gambar1 {
  z-index: 1;
  margin: 0;
}

.gambar1 img {
  top: 20rem;
  width: 200px;
}
