.page13{
    background-image: url(../../assets/page13.png);
    background-position: center;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
}

.tas13{
    width: 12%;
    float: right;
    margin-top: 3.5%;
    margin-right: 4%;
}

.isi13{
    color: #056b48;
    padding-top: 4.5%;
    width: 75%;
    height: 50%;
    margin-left: 4%;
}

@media screen and (max-width: 1600px){
    .kalimatisi13{
        font-size: 55px !important;
        width: 80% !important;
    }

    .footer13{
        font-size: 16px !important;
    }
}